{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>من نحن</h2>
				<br />
				
				<p><img src="https://picsum.photos/g/1200/300" class="img-responsive" width="100%"></p>
				<p>مشروع لبيع السلع المستعمله بشروط واذا توافقت الشروط يتم العرض في الموقع ويحدد سعر السلعة على جودتها واخذ نسبه من مكسب صاحب السلعة</p>
				<h3>ماذا يباع</h3>
				<p>السلع التي تباع استعمال شخصي منزلي عائلي</p>
				
				

			
				
				<p><img src="https://picsum.photos/g/600/300" class="img-responsive" width="100%"></p>
				<p>Phasellus elementum venenatis ante in posuere. Nullam sit amet ipsum sit amet dolor vehicula convallis. Nullam consectetur eleifend ipsum, varius malesuada quam facilisis non. Sed sed vestibulum purus, ac elementum ipsum. Suspendisse vitae imperdiet elit. Aenean euismod lobortis maximus. Curabitur auctor venenatis ullamcorper.</p>

				<p>Etiam a ligula velit. Sed ultricies ante nec sem consectetur, at tristique nulla venenatis. Phasellus condimentum, metus et molestie fermentum, diam massa porta est, vel malesuada turpis erat id magna. Mauris cursus quam ligula, quis cursus augue iaculis id. Nullam elementum, lectus ut lobortis bibendum, justo tortor consequat tellus, et lacinia diam eros nec eros. Praesent fermentum efficitur felis, eu mollis eros iaculis ac. Curabitur non gravida odio. Donec blandit lacus risus, quis semper magna posuere sit amet. Integer pharetra arcu eget mauris semper, sed euismod leo porta. Phasellus tempus faucibus lobortis. Donec viverra quis leo vel bibendum. Pellentesque sed nulla mi. Cras at luctus diam, eget luctus sapien.</p>
			</div>
		</div>
	</div>
{% endblock %}